# Go build cache and artifacts
**/.git
.git
.gitignore
bin
build
dist
out
*.exe
*.test
*.out
*.log
config/

# IDE/editor
.vscode
.idea
*.swp

# Modules cache (not needed once downloaded)
$GOMOD/cache

